*{
	margin: 0;
	box-sizing: border-box;
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}

body{
	font-size: 1.1em;
}
h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 1.75em;
}

h2{
	float: right;
	color: #000;
	width: 110px;
	text-align: center;
	border: 1px solid #000
}

p {
	padding: 30px 10px 10px 10px;
}


#chicken{
	background: #e3788d;
}

#beef{
	background: #f00;
	color: #fff;
}

#sushi{
	background: #f0d775;
}

.container{
	position: relative;
 	background: #808080;
	border: 1px solid #000;	
	margin: 0 auto;
	width: 95%;
	height: 95%;
}
.row {
	position: relative;
	width: 100%;
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px){

	.col-md-6{
		width: 50%;
		float: left;
		margin-bottom: 40px;
	}

	.row .col-md-6:nth-child(3){
		width : 100%;
	}

	.row .col-md-6:nth-child(3) .container{
		width: 97.5%;
	}
}

@media(max-width: 767px){

	.col-sm-12{
		float: left;
		width: 100%;
		margin-bottom: 40px;
	}
}